<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/pages-homepage\pages-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category/pages-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-cart/pages-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../images/icons/shopping-cart.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

	<div class="l-container u-margin-bottom-large">
		<ol class="c-progress-tracker">
		    <li class="c-progress-tracker__item is-current">
		        <div class="c-progress-tracker__number">
		            1
		        </div>
		        <div class="c-progress-tracker__label">
		            Shipping Information
		        </div>
		    </li>
		    <li class="c-progress-tracker__item ">
		        <div class="c-progress-tracker__number">
		            2
		        </div>
		        <div class="c-progress-tracker__label">
		            Billing Information
		        </div>
		    </li>
		    <li class="c-progress-tracker__item is-current">
		        <div class="c-progress-tracker__number">
		            3
		        </div>
		        <div class="c-progress-tracker__label">
		            Review Order
		        </div>
		    </li>
		    <li class="c-progress-tracker__item ">
		        <div class="c-progress-tracker__number">
		            4
		        </div>
		        <div class="c-progress-tracker__label">
		            Confirmation
		        </div>
		    </li>
		</ol>
		<!-- end c-progress-tracker -->
		<div class="c-page-header ">
		
		    <h1 class="c-page-header__title">Review Your Order</h1>
		
		    <p class="c-page-header__desc">Please make sure your information is correct below before submitting your order.</p>
		
		</div><!-- end c-page-header -->
	</div>
	<div class="l-container">
		<div class="l-page-layout l-page-layout--two-column l-page-layout--reversed">
			<div class="l-page-layout__secondary l-band">
				<ul class="c-definition-list-list c-definition-list-list--lined">
					<li class="c-definition-list-list__item"><dl class="c-definition-list ">
				
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Item
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            Suede Booties
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Quantity
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            1
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Price
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            $120
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				
				</dl><!--end c-definition-list-->
				</li>
					<li class="c-definition-list-list__item"><dl class="c-definition-list ">
				
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Item
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            Brown Dress Shoes
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Quantity
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            1
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Price
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            $140
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				
				</dl><!--end c-definition-list-->
				</li>
				</ul>
				<div class="c-total c-total--no-break">
					<label class="c-total__label">Total</label>
					<span class="c-total__span">$360</span>
				</div>
			</div>
			<div class="l-page-layout__main">
				<section class="c-section">
					<div class="c-text-passage l-linelength-container u-margin-bottom-large">
						<div class="c-text-passage">
						
							<h2>Shipping Address</h2><p>John Smith<br />99 Main Street<br />Pittsburgh, PA 15202</p><h2>Billing Address</h2><p>John Smith<br />99 Main Street<br />Pittsburgh, PA 15202</p><h2>Payment Information</h2><p><strong>Card Type </strong>Visa<br /><strong>Card # </strong>********0000<br /><strong>Expiration </strong>12/25</p>
						
						</div><!--end c-text-passage-->
					</div>
					<div class="c-btn-group ">
					
					    <a href="/patterns/pages-confirmation/pages-confirmation.rendered.html" class="c-btn " >
					    
					        <div class="c-btn__inner">
					    
					    
					            Submit Order
					    
					        </div><!--end c-btn__inner-->
					    
					    </a><!-- end c-btn -->
					    <button class="c-btn c-btn--bare" >
					    
					        <div class="c-btn__inner">
					    
					    
					            Button
					    
					        </div><!--end c-btn__inner-->
					    
					    </button><!-- end c-btn -->
					
					</div><!--end c-btn-group-->
				</section>
			</div>
		</div>
	</div>
</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category/pages-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
