<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/pages-homepage\pages-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category/pages-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-cart/pages-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../images/icons/shopping-cart.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

		<div class="l-container">
			<div class="c-page-header ">
			
			    <h1 class="c-page-header__title">This is the page title</h1>
			
			    <p class="c-page-header__desc">This is the page description</p>
			
			</div><!-- end c-page-header -->

			<div class="c-hero">
			
				<img src="" alt="" width="1200" height="800" class="c-hero__img" />
				<div class="c-hero__body">
					<h2 class="c-hero__headline"></h2>
				</div>
			
			</div><!-- end c-hero-->

			<ul class="c-stacked-block-list l-grid l-grid--3up ">
				<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="https://via.placeholder.com/600x400" alt="placeholder image" width="1200" height="800" class="c-stacked-block__img" />
					</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
					<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">Label</span>
				</div>
			</a><!-- end c-stacked-block -->
			</li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="https://via.placeholder.com/600x400" alt="placeholder image" width="1200" height="800" class="c-stacked-block__img" />
					</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
					<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">Label</span>
				</div>
			</a><!-- end c-stacked-block -->
			</li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="https://via.placeholder.com/600x400" alt="placeholder image" width="1200" height="800" class="c-stacked-block__img" />
					</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
					<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">Label</span>
				</div>
			</a><!-- end c-stacked-block -->
			</li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="https://via.placeholder.com/600x400" alt="placeholder image" width="1200" height="800" class="c-stacked-block__img" />
					</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
					<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">Label</span>
				</div>
			</a><!-- end c-stacked-block -->
			</li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="https://via.placeholder.com/600x400" alt="placeholder image" width="1200" height="800" class="c-stacked-block__img" />
					</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
					<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">Label</span>
				</div>
			</a><!-- end c-stacked-block -->
			</li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="https://via.placeholder.com/600x400" alt="placeholder image" width="1200" height="800" class="c-stacked-block__img" />
					</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
					<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">Label</span>
				</div>
			</a><!-- end c-stacked-block -->
			</li>
			</ul>

			<ol class="c-pagination">
				<li class="c-pagination__item "><a class="c-pagination__link" href="">Prev</a></li>
				<li class="c-pagination__item "><a class="c-pagination__link" href="">1</a></li>
				<li class="c-pagination__item "><a class="c-pagination__link" href="">2</a></li>
				<li class="c-pagination__item "><a class="c-pagination__link" href="">Next</a></li>
			</ol>

		</div><!--end .l-main-->

	</div><!--end .l-two-col-->
</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category/pages-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
