<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/pages-homepage\pages-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category/pages-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-cart/pages-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../images/icons/shopping-cart.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

	<div class="l-container">
		<div class="c-page-header ">
		
		    <h1 class="c-page-header__title">You have 2 items in your cart</h1>
		
		    <p class="c-page-header__desc">Please review your cart details before checking out.</p>
		
		</div><!-- end c-page-header -->
		<ul class="c-stripe-list ">
			<li class="c-stripe-list__item">
				<div class="c-stripe">
				
				    <div class="c-stripe__left-container">
						<a href="#" class="c-stripe__link">
				            <img src="../../images/women-boot-wedges.jpg" alt="placeholder image" width="1200" height="800"  class="c-stripe__img" />
						</a>
				    </div>
				
				    <div class="c-stripe__right-container">
						<h3 class="c-stripe__title"><a href="#" class="c-stripe__title-link">Suede Booties</a></h3>
				        <div class="c-field c-field--small">
				        
				        	<label for="" class="c-field__label">Quantity</label>
				        
				            <div class="c-field__body">
				        
				                <input type="" id="" class="c-input" placeholder="" value="1"    />
				        
				            </div><!-- end c-field__body -->
				        
				        
				        </div><!-- end c-field -->
						<div class="c-stripe__meta">
				            <label class="c-stripe__meta-label">Price</label>
				            <span class="c-stripe__meta-span">$120</span>
				        </div>
				    </div>
				
				</div><!--end c-stripe-->
			</li>
			<li class="c-stripe-list__item">
				<div class="c-stripe">
				
				    <div class="c-stripe__left-container">
						<a href="#" class="c-stripe__link">
				            <img src="../../images/men-brown-dress-shoes.jpg" alt="placeholder image" width="1200" height="800"  class="c-stripe__img" />
						</a>
				    </div>
				
				    <div class="c-stripe__right-container">
						<h3 class="c-stripe__title"><a href="#" class="c-stripe__title-link">Brown Dress Shoes</a></h3>
				        <div class="c-field c-field--small">
				        
				        	<label for="" class="c-field__label">Quantity</label>
				        
				            <div class="c-field__body">
				        
				                <input type="" id="" class="c-input" placeholder="" value="1"    />
				        
				            </div><!-- end c-field__body -->
				        
				        
				        </div><!-- end c-field -->
						<div class="c-stripe__meta">
				            <label class="c-stripe__meta-label">Price</label>
				            <span class="c-stripe__meta-span">$140</span>
				        </div>
				    </div>
				
				</div><!--end c-stripe-->
			</li>
		</ul><!--end stripe-list-->
		<div class="c-total-container">
			<div class="c-total">
				<label class="c-total__label">Total</label>
				<span class="c-total__span">$360</span>
			</div>

			<div class="u-text-align-right u-margin-right-8 u-margin-top">
				<a href="/patterns/pages-checkout/pages-checkout.rendered.html" class="c-btn " >
				
				    <div class="c-btn__inner">
				
				
				        Checkout
				
				    </div><!--end c-btn__inner-->
				
				</a><!-- end c-btn -->
			</div>
		</div>

	</div><!--end l-container-->

</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category/pages-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
