<ul class="sg-colors">

    <li>
        <span class="sg-swatch" style="background: #00853f;"></span>
        <span class="sg-label">
            $st-andrews-contextual-success
            <br /> #00853f
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #00539b;"></span>
        <span class="sg-label">
            $st-andrews-contextual-information
            <br /> #00539b
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background:  #bf5909;"></span>
        <span class="sg-label">
            $st-andrews-contextual-warning
            <br />  #bf5909
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ea1a13;"></span>
        <span class="sg-label">
            $st-andrews-contextual-danger
            <br /> #ea1a13
            <br /> 
        </span>
    </li>

</ul>
<!--end sg-colors-->

<small>To add to these items, use Sass names that start with <code>$st-andrews-contextual-</code> in <code>./source/css/scss/abstracts/_names.scss</code></small>
