<ul>
    <li style="font-family: &#x27;PT Sans&#x27;, &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif">$font-family-primary: &#x27;PT Sans&#x27;, &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif </li>
    <li style="font-family: &#x27;PT serif&#x27;,Georgia,&quot;Times New Roman&quot;, serif">$font-family-secondary: &#x27;PT serif&#x27;,Georgia,&quot;Times New Roman&quot;, serif </li>
</ul>
<small></small>