<ul class="sg-colors">

    <li>
        <span class="sg-swatch" style="background: #00853f;"></span>
        <span class="sg-label">
            $st-andrews-additional-green-primary
            <br /> #00853f
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #40a46f;"></span>
        <span class="sg-label">
            $st-andrews-additional-green-25tint
            <br /> #40a46f
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #80c29f;"></span>
        <span class="sg-label">
            $st-andrews-additional-green-50tint
            <br /> #80c29f
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #00642f;"></span>
        <span class="sg-label">
            $st-andrews-additional-green-25shade
            <br /> #00642f
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #7b439a;"></span>
        <span class="sg-label">
            $st-andrews-additional-purple-primary
            <br /> #7b439a
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #9c72b3;"></span>
        <span class="sg-label">
            $st-andrews-additional-purple-25tint
            <br /> #9c72b3
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #bda1cd;"></span>
        <span class="sg-label">
            $st-andrews-additional-purple-50tint
            <br /> #bda1cd
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #5c3274;"></span>
        <span class="sg-label">
            $st-andrews-additional-purple-25shade
            <br /> #5c3274
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #c60c46;"></span>
        <span class="sg-label">
            $st-andrews-additional-burgundy-primary
            <br /> #c60c46
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #d44974;"></span>
        <span class="sg-label">
            $st-andrews-additional-burgundy-25tint
            <br /> #d44974
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #e386a3;"></span>
        <span class="sg-label">
            $st-andrews-additional-burgundy-50tint
            <br /> #e386a3
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #950935;"></span>
        <span class="sg-label">
            $st-andrews-additional-burgundy-25shade
            <br /> #950935
            <br /> 
        </span>
    </li>

</ul>
<!--end sg-colors-->

<small>To add to these items, use Sass names that start with <code>$st-andrews-additional-</code> in <code>./source/css/scss/abstracts/_names.scss</code></small>
