<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/pages-homepage\pages-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category/pages-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-cart/pages-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../images/icons/shopping-cart.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

	<div class="l-container u-margin-bottom-large">
		<ol class="c-progress-tracker">
		    <li class="c-progress-tracker__item is-current">
		        <div class="c-progress-tracker__number">
		            1
		        </div>
		        <div class="c-progress-tracker__label">
		            Shipping Information
		        </div>
		    </li>
		    <li class="c-progress-tracker__item is-current">
		        <div class="c-progress-tracker__number">
		            2
		        </div>
		        <div class="c-progress-tracker__label">
		            Billing Information
		        </div>
		    </li>
		    <li class="c-progress-tracker__item ">
		        <div class="c-progress-tracker__number">
		            3
		        </div>
		        <div class="c-progress-tracker__label">
		            Review Order
		        </div>
		    </li>
		    <li class="c-progress-tracker__item ">
		        <div class="c-progress-tracker__number">
		            4
		        </div>
		        <div class="c-progress-tracker__label">
		            Confirmation
		        </div>
		    </li>
		</ol>
		<!-- end c-progress-tracker -->
		<div class="c-page-header ">
		
		    <h1 class="c-page-header__title">Billing Information</h1>
		
		    <p class="c-page-header__desc">Please fill out your billing address and payment information below.</p>
		
		</div><!-- end c-page-header -->
	</div>
	<div class="l-container">
		<div class="l-page-layout l-page-layout--two-column l-page-layout--reversed">
			<div class="l-page-layout__secondary l-band">
				<ul class="c-definition-list-list c-definition-list-list--lined">
					<li class="c-definition-list-list__item"><dl class="c-definition-list ">
				
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Item
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            Suede Booties
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Quantity
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            1
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Price
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            $120
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				
				</dl><!--end c-definition-list-->
				</li>
					<li class="c-definition-list-list__item"><dl class="c-definition-list ">
				
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Item
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            Brown Dress Shoes
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Quantity
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            1
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				    <div class="c-definition-list__item">
				
				        <dt class="c-definition-list__term">
				            Price
				        </dt><!--end c-definition-list__term-->
				
				        <dd class="c-definition-list__description">
				            $140
				        </dd><!--end c-definition-list__description-->
				
				    </div><!--end c-definition-list__item-->
				
				</dl><!--end c-definition-list-->
				</li>
				</ul>
				<div class="c-total c-total--no-break">
					<label class="c-total__label">Total</label>
					<span class="c-total__span">$360</span>
				</div>
			</div>
			<div class="l-page-layout__main">
				<section class="c-section">
					<form method="" action="#" class="c-form  js-form" >
					
						<div class="c-form__body">
					
											<div class="c-field ">
											
												<label for="" class="c-field__label">Name</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value="John Smith"    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">Address</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value="99 Main Street"    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">Select</label>
											
											    <div class="c-field__body">
											
											        <select class="c-select " id="" placeholder=""  >
											            <option value="option-1">Option 1</option>
											            <option value="option-2">Option 2</option>
											        
											        
											        </select>
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">City</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value="Pittsburgh"    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field c-field--checkbox ">
											
												<h4 for="" class="c-field__label">Checkbox Field</h4>
											
											    <div class="c-field__body">
											
											        <ul class="c-option-list">
											
											            <li class="c-option-list__item">
											
											                <label class="c-input-group" for="check-1">
											                    <input id="check-1" type="checkbox" name="checkname" value="" class="c-input-group__control js-checkbox-trigger" checked  >
											                    <span class="c-input-group__text">Option 1</span>
											                </label>
											
											            </li><!-- end c-checkbox-list__item -->
											            <li class="c-option-list__item">
											
											                <label class="c-input-group" for="check-2">
											                    <input id="check-2" type="checkbox" name="checkname" value="" class="c-input-group__control js-checkbox-trigger"   >
											                    <span class="c-input-group__text">Option 2</span>
											                </label>
											
											            </li><!-- end c-checkbox-list__item -->
											
											        </ul><!-- end c-option-list -->
											
											    </div><!-- end c-field__body -->
											
											
											</div><!--end c-field-->
											<div class="c-field ">
											
												<label for="" class="c-field__label">State</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value="PA"    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">Textarea Field</label>
											
											    <div class="c-field__body">
											
											        <textarea class="c-textarea" id="" placeholder="" value="" rows="5"  ></textarea>
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">Zip Code</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value="15202"    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<h4 for="" class="c-field__label">Radios</h4>
											
											    <div class="c-field__body">
											
											        <ul class="c-option-list ">
											
											            <li class="c-option-list__item js-radio-trigger-parent">
											
											                <label class="c-input-group" for="radio-1">
											                    <input id="radio-1" type="radio" name="radioname" value="" class="c-input-group__control js-radio-trigger" checked  >
											                    <span class="c-input-group__text">Option 1</span>
											                </label>
											
											            </li><!-- end c-radio-list__item -->
											            <li class="c-option-list__item js-radio-trigger-parent">
											
											                <label class="c-input-group" for="radio-2">
											                    <input id="radio-2" type="radio" name="radioname" value="" class="c-input-group__control js-radio-trigger"   >
											                    <span class="c-input-group__text">Option 2</span>
											                </label>
											
											            </li><!-- end c-radio-list__item -->
											
											        </ul><!-- end c-option-list -->
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">Credit Card Number</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value=""    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<label class="c-input-group u-margin-bottom-large" for="">
											
												<input id="" type="checkbox" name="" value="" class="c-input-group__control" >
												<span class="c-input-group__text">Billing address is the same as shipping</span>
											
											</label><!-- end c-input-group -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">Expiration Date</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value=""    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
											<div class="c-field ">
											
												<label for="" class="c-field__label">CVV</label>
											
											    <div class="c-field__body">
											
											        <input type="" id="" class="c-input" placeholder="" value=""    />
											
											    </div><!-- end c-field__body -->
											
											
											</div><!-- end c-field -->
					
						</div><!--end c-form__body-->
					
						<div class="c-form__footer">
							<div class="c-btn-group ">
							
							    <a href="/patterns/pages-review/pages-review.rendered.html" class="c-btn " >
							    
							        <div class="c-btn__inner">
							    
							    
							            Continue To Review Order
							    
							        </div><!--end c-btn__inner-->
							    
							    </a><!-- end c-btn -->
							    <button class="c-btn c-btn--bare" >
							    
							        <div class="c-btn__inner">
							    
							    
							            Button
							    
							        </div><!--end c-btn__inner-->
							    
							    </button><!-- end c-btn -->
							
							</div><!--end c-btn-group-->
						</div><!--end c-form__footer-->
					
					</form><!--end c-form-->
				</section>
			</div>
		</div>
	</div>
</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category/pages-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
