<ul class="sg-colors">

    <li>
        <span class="sg-swatch" style="background: #00539b;"></span>
        <span class="sg-label">
            $st-andrews-main-blue-primary
            <br /> #00539b
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #407eb4;"></span>
        <span class="sg-label">
            $st-andrews-main-blue-25tint
            <br /> #407eb4
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #80a9cd;"></span>
        <span class="sg-label">
            $st-andrews-main-blue-50tint
            <br /> #80a9cd
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #003e74;"></span>
        <span class="sg-label">
            $st-andrews-main-blue-25shade
            <br /> #003e74
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #0071b3;"></span>
        <span class="sg-label">
            $st-andrews-main-light-blue-primary
            <br /> #0071b3
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #4095c6;"></span>
        <span class="sg-label">
            $st-andrews-main-light-blue-25tint
            <br /> #4095c6
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #80b8d9;"></span>
        <span class="sg-label">
            $st-andrews-main-light-blue-50tint
            <br /> #80b8d9
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #005586;"></span>
        <span class="sg-label">
            $st-andrews-main-light-blue-25shade
            <br /> #005586
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ea1a13;"></span>
        <span class="sg-label">
            $st-andrews-main-red-primary
            <br /> #ea1a13
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ef534e;"></span>
        <span class="sg-label">
            $st-andrews-main-red-25tint
            <br /> #ef534e
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f58d89;"></span>
        <span class="sg-label">
            $st-andrews-main-red-50tint
            <br /> #f58d89
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #b0140e;"></span>
        <span class="sg-label">
            $st-andrews-main-red-25shade
            <br /> #b0140e
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #202024;"></span>
        <span class="sg-label">
            $st-andrews-main-dark-grey-1
            <br /> #202024
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #0f0f11;"></span>
        <span class="sg-label">
            $st-andrews-main-dark-grey-2
            <br /> #0f0f11
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #6a6a6b;"></span>
        <span class="sg-label">
            $st-andrews-main-grey
            <br /> #6a6a6b
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #949494;"></span>
        <span class="sg-label">
            $st-andrews-main-mid-grey-1
            <br /> #949494
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #dedede;"></span>
        <span class="sg-label">
            $st-andrews-main--mid-grey-2
            <br /> #dedede
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f0f0f0;"></span>
        <span class="sg-label">
            $st-andrews-main-light-grey-1
            <br /> #f0f0f0
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #fafafa;"></span>
        <span class="sg-label">
            $st-andrews-main-light-grey-2
            <br /> #fafafa
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ffb400;"></span>
        <span class="sg-label">
            $st-andrews-main-orange-primary
            <br /> #ffb400
            <br /> 
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #bf5909;"></span>
        <span class="sg-label">
            $st-andrews-main-dark-orange
            <br /> #bf5909
            <br /> 
        </span>
    </li>

</ul>
<!--end sg-colors-->

<small>To add to these items, use Sass names that start with <code>$st-andrews-main-</code> in <code>./source/css/scss/abstracts/_names.scss</code></small>
