<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/pages-homepage\pages-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category/pages-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/pages-cart/pages-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../images/icons/shopping-cart.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

	<div class="l-container">
		<div class="c-hero">
		
			<img src="../../images/group-shoes.jpg" alt="Group of shoes" width="1200" height="800" class="c-hero__img" />
			<div class="c-hero__body">
				<h2 class="c-hero__headline">Shoes For The Soul</h2>
			</div>
		
		</div><!-- end c-hero-->

		<div class="c-promo-block ">
			<div class="c-promo-block__body">
				<a href="#" class="c-promo-block__link">
					<h2 class="c-promo-block__heading">Go Out In Style</h2>
				</a>
				<div class="c-promo-block__description">Dive into the Fall season with these stylish casual boots that are great for a jump in the leaves or a night out on the town.</div>
			</div>
		
			<div class="c-promo-block__media">
				<a href="#" class="c-promo-block__link">
					<img src="../../images/women-boots.jpg" alt="Women&#x27;s boots" width="1200" height="800" class="c-promo-block__img" />
				</a>
			</div>
		
		</div><!-- end c-tout -->
		<div class="c-promo-block c-promo-block--right">
			<div class="c-promo-block__body">
				<a href="#" class="c-promo-block__link">
					<h2 class="c-promo-block__heading">Casual But Classy</h2>
				</a>
				<div class="c-promo-block__description">Feel comfortable in your own shoes no matter what the situation.</div>
			</div>
		
			<div class="c-promo-block__media">
				<a href="#" class="c-promo-block__link">
					<img src="../../images/men-casual-shoes.jpg" alt="striped sneakers" width="1200" height="800" class="c-promo-block__img" />
				</a>
			</div>
		
		</div><!-- end c-tout -->
		<div class="c-promo-block ">
			<div class="c-promo-block__body">
				<a href="#" class="c-promo-block__link">
					<h2 class="c-promo-block__heading">Immerse Yourself In Nature</h2>
				</a>
				<div class="c-promo-block__description">Explore the outdoors and clear your head with a hike in one of our sleek boot styles.</div>
			</div>
		
			<div class="c-promo-block__media">
				<a href="#" class="c-promo-block__link">
					<img src="../../images/women-hiking-boots.jpg" alt="hiking boots in woods" width="1200" height="800" class="c-promo-block__img" />
				</a>
			</div>
		
		</div><!-- end c-tout -->
		<div class="c-promo-block c-promo-block--right u-margin-bottom-large">
			<div class="c-promo-block__body">
				<a href="#" class="c-promo-block__link">
					<h2 class="c-promo-block__heading">Discover the Unknown</h2>
				</a>
				<div class="c-promo-block__description">Take the path least traveled and write your own story with our shoes.</div>
			</div>
		
			<div class="c-promo-block__media">
				<a href="#" class="c-promo-block__link">
					<img src="../../images/kids-velcro.jpg" alt="kid&#x27;s velcro shoes" width="1200" height="800" class="c-promo-block__img" />
				</a>
			</div>
		
		</div><!-- end c-tout -->


		<section class="c-section">
		    <header class="c-section__header">
		        <h2 class="c-section__title">On Sale</h2>
		    </header>
		
		    <ul class="c-stacked-block-list l-grid l-grid--3up ">
		    	<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/pages-detail/pages-detail.rendered.html" class="c-stacked-block ">
		    
		    	<div class="c-stacked-block__header">
		    		<div class="c-stacked-block__media">
		    			<img src="../../images/men-blue-shoes.jpg" alt="blue walking shoes" width="1200" height="800" class="c-stacked-block__img" />
		    		</div>
		    		<span class="c-stacked-block__badge">Sale</span>
		    	</div>
		    
		    	<div class="c-stacked-block__body">
		    		<h2 class="c-stacked-block__title">Walking Shoes</h2>
		    		<p class="c-stacked-block__excerpt">This casual pair of shoes will have you looking dapper in the city</p>
		    	</div><!-- end c-stacked-block__body -->
		    
		    	<div class="c-stacked-block__footer">
		    		<span class="c-stacked-block__meta">$60</span>
		    		<span class="c-stacked-block__optional">$90</span>
		    	</div>
		    </a><!-- end c-stacked-block -->
		    </li>
		    	<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/pages-detail/pages-detail.rendered.html" class="c-stacked-block ">
		    
		    	<div class="c-stacked-block__header">
		    		<div class="c-stacked-block__media">
		    			<img src="../../images/women-hiking-boots.jpg" alt="leather boots" width="1200" height="800" class="c-stacked-block__img" />
		    		</div>
		    		<span class="c-stacked-block__badge">Sale</span>
		    	</div>
		    
		    	<div class="c-stacked-block__body">
		    		<h2 class="c-stacked-block__title">Leather Boots</h2>
		    		<p class="c-stacked-block__excerpt">Hike down the trail in these durable, 100% authentic leather boots.</p>
		    	</div><!-- end c-stacked-block__body -->
		    
		    	<div class="c-stacked-block__footer">
		    		<span class="c-stacked-block__meta">$120</span>
		    		<span class="c-stacked-block__optional">$150</span>
		    	</div>
		    </a><!-- end c-stacked-block -->
		    </li>
		    	<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/pages-detail/pages-detail.rendered.html" class="c-stacked-block ">
		    
		    	<div class="c-stacked-block__header">
		    		<div class="c-stacked-block__media">
		    			<img src="../../images/women-blue-heels.jpg" alt="blue heels" width="1200" height="800" class="c-stacked-block__img" />
		    		</div>
		    		<span class="c-stacked-block__badge">Sale</span>
		    	</div>
		    
		    	<div class="c-stacked-block__body">
		    		<h2 class="c-stacked-block__title">Blue Suede Heels</h2>
		    		<p class="c-stacked-block__excerpt">Strut your stuff on the streets with these stunning high heels</p>
		    	</div><!-- end c-stacked-block__body -->
		    
		    	<div class="c-stacked-block__footer">
		    		<span class="c-stacked-block__meta">$80</span>
		    		<span class="c-stacked-block__optional">$110</span>
		    	</div>
		    </a><!-- end c-stacked-block -->
		    </li>
		    </ul>
		
		</section><!--end section-->

	</div>


</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category/pages-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-men/pages-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-kids/pages-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/pages-category-on-sale/pages-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
