<h1 class="c-logo ">
    <a href="/patterns/pages-homepage\pages-homepage.rendered.html" class="c-logo__link" rel="home">

    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>

    </a><!--end c-logo__link-->

</h1><!--end c-logo-->
