/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */

 /*------------------------------------*\
     #COLORS
 \*------------------------------------*/

/**
 * Main Colors
 *
 */
$color-brand-blue: #00aeef;
$color-brand-blue-dark: #007dc5;
$color-brand-orange: #f5842b;

$st-andrews-main-blue-primary: #00539b;
$st-andrews-main-blue-25tint: #407eb4;
$st-andrews-main-blue-50tint: #80a9cd;
$st-andrews-main-blue-25shade: #003e74;
$st-andrews-main-light-blue-primary: #0071b3;
$st-andrews-main-light-blue-25tint: #4095c6;
$st-andrews-main-light-blue-50tint: #80b8d9;  // Note: This name is duplicated in your data. You might want to revise this.
$st-andrews-main-light-blue-25shade: #005586;
$st-andrews-main-red-primary: #ea1a13;
$st-andrews-main-red-25tint: #ef534e;
$st-andrews-main-red-50tint: #f58d89;
$st-andrews-main-red-25shade: #b0140e;
$st-andrews-main-dark-grey-1: #202024;
$st-andrews-main-dark-grey-2: #0f0f11;
$st-andrews-main-grey: #6a6a6b;
$st-andrews-main-mid-grey-1: #949494;
$st-andrews-main--mid-grey-2: #dedede;
$st-andrews-main-light-grey-1: #f0f0f0;
$st-andrews-main-light-grey-2: #fafafa;
$st-andrews-main-orange-primary: #ffb400;
$st-andrews-main-dark-orange: #bf5909;


/**
 * Additional Colors
 * 1) Neutral colors are grayscale values used throughout the UI
 */
 $st-andrews-additional-green-primary: #00853f;
 $st-andrews-additional-green-25tint: #40a46f;
 $st-andrews-additional-green-50tint: #80c29f;
 $st-andrews-additional-green-25shade: #00642f;
 $st-andrews-additional-purple-primary: #7b439a;
 $st-andrews-additional-purple-25tint: #9c72b3;
 $st-andrews-additional-purple-50tint: #bda1cd;  // Note: The variable name seems misleading, as it is referencing a purple color.
 $st-andrews-additional-purple-25shade: #5c3274;
 $st-andrews-additional-burgundy-primary: #c60c46;
 $st-andrews-additional-burgundy-25tint: #d44974;  // Note: This seems like a repeated variable name from previous data for a different color.
 $st-andrews-additional-burgundy-50tint: #e386a3;  // Note: This seems like a repeated variable name from previous data for a different color.
 $st-andrews-additional-burgundy-25shade: #950935;


$color-neutral-white: #fff;
$color-neutral-gray-02: #f9f9f9;
$color-neutral-gray-07: #eee;
$color-neutral-gray-13: #ddd;
$color-neutral-gray-27: #bbb;
$color-neutral-gray-50: #808080;
$color-neutral-gray-60: #666;
$color-neutral-gray-73: #444;
$color-neutral-gray-93: #131313;
$color-neutral-black: #000;

/**
 * Contextual Colors
 * 1) Contextual colors are colors used to provide feedback, such as alert messages,
 *    form validation, etc.
 */
 $st-andrews-contextual-success: #00853f;
 $st-andrews-contextual-information: #00539b;
 $st-andrews-contextual-warning: #bf5909;
 $st-andrews-contextual-danger: #ea1a13;


$color-utility-info: #0192d0;
$color-utility-info-light: #d3f2ff;
$color-utility-error: #b12a0b;
$color-utility-error-light: #fdded8;
$color-utility-success: #03804d;
$color-utility-success-light: #d4f3e6;
$color-utility-warning: #a59b15;
$color-utility-warning-light: #fffecf;





/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-family-primary: 'Raleway', "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-family-secondary: 'Abel', serif;


/**
 * Font Sizing
 */
$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;

/**
 * Line Height
 */
$line-height-sm: 0.8;
$line-height-sm-2: 0.9;
$line-height-med: 1;
$line-height-med-2: 1.2;
$line-height-large: 1.6;
$line-height-xl: 1.8;





/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Max Width
 */
$l-max-width: 80rem !default;
$l-max-width-narrow: 45rem !default;
$l-linelength-width: 36rem !default;





/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */

$spacing: 1rem;
$spacing-small: round(0.5 * $spacing);
$spacing-large: round(2 * $spacing);





/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border
 */
 $border-thickness: 1px;

/**
 * Border radius
 */
$border-radius: 4px;





/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Transition Speed
 */
$anim-fade-quick: 0.15s;
$anim-fade-long: 0.5s;

/**
 * Transition Ease
 */
$anim-ease: ease-out;





/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints used in media queries
 * 1) These are not the only breakpoints used, but they provide a few defaults
 */
$bp-small: 28em;
$bp-small-2: 35em;
$bp-med: 47em;
$bp-large: 60em;
$bp-xl: 70em;
